{% load static %}
<!-- about section -->
<section class="section cta" id="cta">
    <div class="bg-overlay-gradiant"></div>
    <!-- start container -->
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-5">
                    <h1 class="display-4 text-white">О компании “Перевозкин”</h1>
                    <p class="text-white-50 mt-3 f-18">Грузоперевозчик «Перевозкин» предоставляет полный спектр услуг по организации квартирных, дачных и офисных переездов. Мы гарантируем профессиональное обслуживание и использование современного упаковочного материала, который после переезда и распаковки вещей убирается, оставляя за собой чистоту и порядок. Наши грузчики-универсалы готовы разбирать и собирать мебель, а также выполнять другие задачи при необходимости.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end section -->