{% load static %}
<!-- service section -->
<section class="section service bg-light" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h2 class="f-40">Наши преимущества</h2>
                    <div class="border-phone">
                        <p class="text-muted">Если вы закажете перевозку у нас, то можете быть уверены в надежности и безопасности доставки вашего груза. Мы заботимся о каждой детали и гарантируем своевременное выполнение заказа.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-3">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-calendar-clock text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Быстро</h5>
                        <p class="text-muted">Мы подаём машины быстро. Время – деньги, и наша работа состоит в том, чтобы вы не только комфортно работали с нами, но и экономили.</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-3 pt-4 pt-lg-0">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-clipboard-account text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Просто</h5>
                        <p class="text-muted">Мы учитываем интересы каждого клиента, гибко подстраиваем свою работу под ваши нужды. Работать с нами - удобно!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 pt-4 pt-lg-0">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-marker-check text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Бережно</h5>
                        <p class="text-muted">Ваш груз доедет в целости и сохранности. Работа будет сделана быстро, экономно и безопасно. Мы это гарантируем.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 pt-4 pt-lg-0">
                <div class="service-box text-center shadow">
                    <div class="service-icon p-4">
                        <i class="mdi mdi-car text-gradiant f-30"></i>
                    </div>

                    <div class="service-content mt-4">
                        <h5 class="fw-bold">Надежно</h5>
                        <p class="text-muted">Для нас нет препятствий. Доставим ваш груз в любую точку города. Без проблем и проволочек.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
